.PayloadWrapper {
    text-align: center;
}

.Payload {
    height: 100%;
    display: flex;
}

.PendingAdd {
    width: 50%;
    height: 100%;
    border-right: 1px groove black;
}

.PendingPurge {
    width: 50%;
    border-left: 1px groove black;
}

.PayloadSpec {
    margin: 5px;
}
