.WorksheetLink {
    width: 100%;
    margin: 2px 0;
}

.WorksheetLink a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 5px 0 5px 10px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(129, 129, 129);
    transition: 100ms;
    opacity: 0.6;
}

.WorksheetLink a:hover,
.WorksheetLink .active {
    margin-left: 5px;
    opacity: 1.0;
    filter: saturate(300%) brightness(110%);
}
