.History {
    background-color: white;
    height: 350px;
    width: auto;
    margin: 20px;
    padding: 20px;
    overflow-y: scroll;
}

.NewMessage {
    width: 80%;
}

.Event {
    border: 2px solid gray;
    margin-bottom: 10px;
    padding: 5px;
}
