.Status {
    display: inline;
}

.Unresolved > * {
    background-color: rgb(233, 122, 122);
}

.Watch > * {
    background-color: rgb(255, 166, 0);
}

.Resolved > * {
    background-color: rgb(151, 206, 150);
}
