.PendingsWrapper {
    height: 100%;
    display: flex;
}

.WorksheetMenu {
    overflow-y: scroll;
    height: 100%;
    background-color: rgb(216, 216, 216);
    padding: 15px 15px 50px;
    width: 15%;
    min-width: 175px;
}

.SpecimenMenu {
    width: 10%;
    min-width: 175px;
}

.SpecimenWrapper {
    flex-grow: 1;
    max-width: 1000px;
}
